h2{
    color:blueviolet;
}
th {
  height: 70px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    background-color: #00BFFF;
  }