.name{
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.designation{
    font-size: 25px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}